# Das ist eine Demo

## Aufgabe 1

In [3]:
SELECT 'Hello from Notebook';

(No column name)
Hello from Notebook